@page "/quiz"

<PageTitle>Quiz</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>Test your knowledge!</h1>



<label>1) At the beginning of the novel, </label><br/>
<input type="radio" name="1" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="1" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="1" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="2" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="2" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="2" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="3" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="3" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="3" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="4" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="4" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="4" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="5" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="5" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="5" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="6" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="6" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="6" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="7" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="7" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="7" checked="@checkedRadio("all")"/><span>hi2</span><br/>


<button class="btn btn-primary" @onclick="EnterQuizAnswers">Enter Answers</button>


<p role="percentage">Percentage Correct: @correctPercentage%</p>



@code {
    private int correctPercentage = 0;


    private bool checkedRadio(string state)
    {
        if(state == "all")
        {
            return true;

        }
        else
        {
            return false;
        }
    }


    private void EnterQuizAnswers()
    {
        correctPercentage++;
    }
}
