@page "/quiz"
@using System.Reflection.Metadata.Ecma335

<PageTitle>Quiz</PageTitle>

<h1>Test your knowledge!</h1>



<label>1) At the beginning of the novel, </label><br/>
<input type="radio" name="q1" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="q1" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="q1" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="q2" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="q2" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="q2" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="q3" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="q3" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="q3" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="q4" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="q4" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="q4" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="q5" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="q5" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="q5" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="q6" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="q6" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="q6" checked="@checkedRadio("all")"/><span>hi2</span><br/>

<label>Question1</label><br/>
<input type="radio" name="q7" checked="@checkedRadio("all")"/><span>hi</span><br/>
<input type="radio" name="q7" checked="@checkedRadio("all")"/><span>hi1</span><br/>
<input type="radio" name="q7" checked="@checkedRadio("all")"/><span>hi2</span><br/>


<button class="btn btn-primary" @onclick="EnterQuizAnswers">Enter Answers</button>

<!--percentRight, correctPercent-->
<p role="status">Current count: @currentCount</p>



@code {
    private int currentCount = 0;


    private bool checkedRadio(string state)
    {
        if(state == "all")
        {
            return true;

        }
        else
        {
            return false;
        }
    }


    private void EnterQuizAnswers()
    {
        currentCount++;
    }
}
